@page
@model GameReviews.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1 class="text-light">@ViewData["Title"]</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
        <button type="submit" class="btn btn-danger">Click here to Logout</button>
    </form>
}
else
{
    <p class="text-white">You have successfully logged out of your account.</p>
}


